<launch>

    <param name ="robot_description" command = "xacro $(find diff_drive_description)/urdf/diff_drive.urdf.xacro"/>

    <node name = "joint_state_publisher" pkg = "joint_state_publisher_gui" type = "joint_state_publisher_gui"/>

    <node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "robot_state_publisher" /> 

    <node name = "rviz" pkg = "rviz" type = "rviz"
          args = "--display-config $(find diff_drive_description)/rviz/config_diff_drive.rviz"/>
 

</launch>